<ng-template #noMessages>
  <div class="no-messages">
    <img src="/assets/chat.svg" width="60" height="60" />

    <span class="info">Begin chatting with your friend securely!</span>
  </div>
</ng-template>

<div class="main">
  <div class="user-info">{{ selectedUser.name}}</div>
  <div
    *ngIf="checkforMessages(); else noMessages"
    class="messages-container"
    #scrollMe
  >
    <ul>
      <li *ngFor="let message of filterMessages()"
          [style.flex-direction]="
          message.senderId === authService.currentUser.id
            ? 'row-reverse'
            : 'row'
        ">
        <!--<img [src]="message.sender.avatar" width="36px" height="37px" />-->
        <span [ngClass]="
            message.senderId === authService.currentUser.id
              ? 'speech-bubble-own'
              : 'speech-bubble'
          ">{{ message | decrypt}}</span>
      </li>
    </ul>
  </div>
  <div class="input-container">
    <input *ngIf="selectedUser"
      placeholder="Type something"
      #messageInput
      (keydown.enter)="
        onSendMessage(messageInput.value); messageInput.value = ''
      "
    />
  </div>
</div>
